<div class="row">
  <div class="col-sm-6">
    <form #f="ngForm" (ngSubmit)="enregistrerCollection(f.value)">
      <div class="form-group">
        <input type="text" class="form-control form-control-round" placeholder="Nom modele" name="nom" required
          ngModel>
      </div>

      <div class="form-group">
        <input type="date" class="form-control form-control-round" placeholder="Date" name="date" required
          ngModel>
      </div>

      <div class="form-group">
        <input type="date" class="form-control form-control-round" placeholder="Date" name="date" required
               ngModel>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Enrégistrer</button>
        <button type="reset" class="btn btn-primary">Annuler</button>
      </div>

    </form>
  </div>
</div>
