<div class="row">
  <!--
  Affichage liste modele -->

  <div class="col-sm-3">
    <p>Liste des modèles</p>
    <ul class="list-group">
      <li class="list-group-item yaga" *ngFor="let modele of SamaModeles"
          [class.selected]="modele === samaModeleSelected"
          (click)="showClick(modele)">
        <a>{{ modele.nom }}</a>
      </li>
    </ul>
  </div>

  <!-- Affichage nom modele et image -->
  <div class="col-sm-9 col-lg-9">

    <div class="row ">
      <div class="list-group-item w-100" *ngIf="samaModeleSelected.nom != '' ">
        <div class="form-group ">
          <div>
            <label class="h1">{{samaModeleSelected.nom}}</label>
            <i type="button" class="btn btn-primary btn-sm btn icofont icofont-ui-delete float-right" (click)="deleteModele(samaModeleSelected.idModel)">delete</i>
          </div>
            <div>
            <div class="card mx-2" style="width: 8rem; display: inline-block;" *ngFor="let modele_collection of samaModeleSelected.images">
              <img class="card-img-top" width="100rem" height="100rem" src="{{getHost()}}/{{ modele_collection.nom }}" alt="Card image cap">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2 bg-white" *ngIf="samaModeleSelected.nom != '' ">

        <div class="d-flex w-100 justify-content-between p-2 flex-fill bd-highlight">
          <div>
            <label>Collections</label>
          </div>
          <form #f="ngForm" (ngSubmit)="recupCollection(f.value) ">
              <select class="form-control-round" name="sama_collection" ngModel required>
                <option *ngFor="let collection of collections" value="{{collection.idCollection}}">{{collection.nom}}</option>
              </select>
              <button type="submit" class="btn btn-sm btn-info">ajouter</button>
          </form>
        </div>

        <div class="p-2 flex-fill bd-highlight w-100">
          <div class="card mx-2" style="width: 8rem; height: 3rem; display: inline-block;" *ngFor="let col of tabCollection">
              <h5 class="card-title">{{ col.nom }}</h5>
              <button >
                <i class="icofont icofont-ui-delete"></i>
              </button>
          </div>
        </div>

        <div class="p-2 flex-fill bd-highlight">
          <button type="submit" class="btn btn-sm btn-primary" (click)="saveCollection()">save collection</button>
        </div>

    </div>

    <div class="row mt-2 bg-white" *ngIf="samaModeleSelected.nom != '' ">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">
          <form #g='ngForm' (ngSubmit)='affichePreference(g.value)'>
            <div class="form-group">
              <label>Préférences</label>
              <select class="form-control-round" name="sama_preference" ngModel required>
                <option value="0" class="text-muted" selected>...</option>
                <option *ngFor='let p of preferences' value='{{p.idPreference}}'>{{p.nom}}</option>
              </select>
            </div>
            <div class="d-flex justify-content-start">
              <button type="submit"  class="btn btn-sm btn-info">afficher</button>
            </div>
          </form>
        </div>
        <div class="p-2 flex-fill bd-highlight">
          <form #f="ngForm" (ngSubmit)="savePropriete(f.value)">
            <div *ngFor="let pr of tabPreference">
              <div>
                {{pr.nom}}
              </div>
              <div>
                <div *ngFor="let prop of pr.proprietes" class="m-1 border" style="display: inline-block;">
                  <input type="checkbox" value="{{prop.valeur}}" [(ngModel)]='prop.selected' value="{{prop.value}}" name="sama_propriete" >
                  <img src="{{getHost()}}/{{ prop.image }}" alt="" width="30px" height="30px">
                  <span>{{prop.valeur}}</span>
                </div>
              </div>
            </div>
            <div class="form-group d-flex justify-content-start">
              <button type="submit" class="btn btn-sm btn-primary">save propriétés</button>

            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-2 bg-white" *ngIf="samaModeleSelected.nom != '' ">

        <div class="d-flex w-100 justify-content-between p-2 flex-fill bd-highlight">
          <div>
            <label>Tissus</label>
          </div>
          <form #f="ngForm" (ngSubmit)="recupTypeTissu(f.value)">
              <select class="form-control-round" name="sama_tissu" ngModel required>
                <option *ngFor="let type of ligneModelTissus" value="{{type.idTypeTissu}}">{{type.nom}}</option>
              </select>
              <button type="submit" class="btn btn-sm btn-info">ajouter</button>
          </form>
        </div>

        <div class="p-2 flex-fill bd-highlight">
          <div class="card mx-2" style="width: 8rem; height: 3rem; display: inline-block;" *ngFor="let tissu of tabTissu">
            <h5 class="card-title">{{ tissu.nom }}</h5>
            <button >
              <i class="icofont icofont-ui-delete"></i>
            </button>
          </div>
        </div>

        <div class="p-2 flex-fill bd-highlight">
          <button type="submit" class="btn btn-sm btn-primary" (click)="saveTypeTissu()">save tissu</button>
        </div>

    </div>

  </div>

</div>
