<div class="row w-100 bg-white">
  <div class="d-flex w-100 justify-content-between p-2 flex-fill bd-highlight">
    <button class="btn btn-sm btn-primary">nouvel utilisateur</button>
  </div>
  <table class="table table-sm mt-2">
    <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Login</th>
      <th scope="col">Passe</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>
        <button><i class="ti-user"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
