<div class="card row w-100 bg-white mx-1">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">Nom client</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Etat</th>
      <th scope="col">Date fin</th>
      <th scope="col">Somme</th>
      <th scope="col">Option</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Client</th>
      <td>0123456789</td>
      <td>
        <input type="checkbox">
      </td>
      <td>
        Otto
      </td>
      <td>1234</td>
      <td>

      </td>
    </tr>
    </tbody>
  </table>
</div>
