
<div class="row px-3 m-0 p-0" style="min-height:95vh;">
  <div class="col col-sm-3 m-0 p-0">
    <app-liste-collection #collectionComponent
                          class="">
    </app-liste-collection>

    <app-liste-modele [collection]="collectionComponent.selectedCollection"
                      #listeModeleComponent
                      class="" >
    </app-liste-modele>
  </div>


  <div class="col col-sm-9 m-0 p-0" style="min-height:95vh;" >
      <app-sama-liste-modele  [samaModeleSelected]="listeModeleComponent['modelSelected']" ></app-sama-liste-modele>
  </div>


</div>



<!--<div class="card-header">-->
  <!--<h6 class="">Nouvelle Collection</h6>-->
<!--</div>-->
<!--<div class="card-body">-->
  <!--<form #f="ngForm" (ngSubmit)="enregistrerCollection(f.value)" class="">-->
    <!--<div class="form-group">-->
      <!--<input type="text" class="form-control form-control" placeholder="Nom Collection" name="nom"-->
             <!--required ngModel>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="">Categorie</label>-->
      <!--<select class="form-control form-control" name="categorie" id="" ngModel required>-->
        <!--<option *ngFor="let categorie of categories"-->
                <!--value="{{categorie.idCategorie}}">{{categorie.nom}}</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="d-flex justify-content-center">-->
      <!--<button type="submit" class="btn btn-primary">Enrégistrer</button>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->
