<div class="row">
    <div class="col-sm-7 col-lg-7">
        <p>Liste des collections</p>
        <ul class="list-group">
            <li class="list-group-item yaga" *ngFor="let collection of SamaListeCollection" [class.selected]="collection === collectionSelected"
                (click)="showClick(collection)">
                <a>{{ collection.nom }}</a>
            </li>
        </ul>
    </div>

    <div class="col-sm-4 col-lg-4">
        <form #f="ngForm" (ngSubmit)="enregistrerCollection(f.value)">
            <div class="form-group">
                <input type="text" class="form-control form-control-round" placeholder="Nom Collection" name="nom"
                    required ngModel>
            </div>

            <div class="form-group">
                <input type="date" class="form-control form-control-round" placeholder="Nom Collection" name="date"
                    required ngModel>
            </div>

            <div class="form-group">
                <select class="form-control form-control-round" name="categorie" id="" ngModel required>
                    <option *ngFor="let categorie of categories" value="{{categorie.idCategorie}}">{{categorie.nom}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Enrégistrer</button>
            <button type="reset" class="btn btn-primary">Annuler</button>
        </form>
    </div>
</div>
