
<div class="row px-3" style="min-height:95vh;">
  <div class="col col-sm-3 bg-white p-0 ">
    <div class="w-100 p-0 mt-3" >
        <h6 class="px-2">Liste des collections</h6>
        <ul class="list-group w-100 m-0 p-0 border " style="min-height:40vh; max-height:60vh;overflow-y: auto">
          <li class="list-group-item yaga px-2" *ngFor="let collection of SamaListeCollection" [class.selected]="collection === collectionSelected"
              (click)="showClick(collection)">
            <a>{{ collection.nom }}</a>
            <div class="float-right">
              <i class="icofont icofont-ui-delete" (click)="deleteCollection(collection.idCollection)"></i>
              <i class="icofont icofont-ui-edit" (click)="onclickUpdateCollection(collection)"></i>
            </div>
          </li>
        </ul>
    </div>

    <hr>

    <div class="w-100 mt-2">
        <h6 class="p-2">Nouvelle Collection</h6>
        <form #f="ngForm" (ngSubmit)="enregistrerCollection(f.value)" class="p-2">
          <div class="form-group">
            <input type="text" class="form-control form-control-round" placeholder="Nom Collection" name="nom"
                   required ngModel>
          </div>
          <div class="form-group">
            <select class="form-control form-control-round" name="categorie" id="" ngModel required>
              <option *ngFor="let categorie of categories" value="{{categorie.idCategorie}}">{{categorie.nom}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Enrégistrer</button>
        </form>
    </div>

  </div>


  <div class="col col-sm-9 bg-danger">
    <app-liste-modele [collection]="collectionSelected" class="row"></app-liste-modele>
  </div>


</div>
