.yaga {
  cursor: pointer;
}

.selected1 {
  background-color: white;
}

.details {
  background-color: #9ad7fd;
}

.itemCategorie{
  text-decoration: none;
}

.itemCategorie:hover{
  text-decoration: underline;
}

.listCategorie{
  background-color: #3e5771;
}
